@import '../../../scss/base/colors';
@import '../../../scss/base/typography';
@import '../../../scss/util/mixins';

.category {
    background-color: $color-bg-article;
    width: 610px;
    height: 325px;
    position: relative;

    .title-link {
        position: absolute;
        width: 550px;
        display: flex;
        justify-content: space-between;
        margin: 15px 30px;

        h3 {
            @include set-font($font-secondary, normal, 24px, $font-color-secondary, 29px, 700);
        }

        a {
            align-self: flex-end;
            @include set-font($font-color-primary, normal, 14px, $color-news, 17px, 400);
            text-decoration: underline;
            text-decoration-color: rgba(54, 119, 181, 0.3);
            text-underline-offset: 4px;
        }
    }
}

.category-News {
    border-left: 10px solid $color-news;
}

.category-Sports {
    border-left: 10px solid $color-sport;
    position: absolute;
    top: 342px;
}

.category-Business {
    border-left: 10px solid $color-business;
}

.category-carousel {
    border-left: 10px solid $color-tech;
}

.category-editorials, .category-local-news {
    border-left: 10px solid $color-travel;
}

.articles-layout {
    @include set-layout(550px, 220px);
    position: relative;
    top: 80px;
    display: flex;
}

.big-pics {
    justify-content: space-between;
}