@import '../../../scss/base/colors';
@import '../../../scss/base/typography';
@import '../../../scss/util/mixins';

header {
    background-color: $color-header;
}

.header-container {
    @include set-layout(940px, 53px);
    display: flex;
    justify-content: space-between;
}

.section-left {
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .title-div {
        margin-left: 9px;

        p {
            @include set-font($font-secondary, normal, 24px, $font-color-primary, 27px, 400);
        }
        
    }
}

.img-button {
    border: none;
    cursor: pointer;
    mix-blend-mode: normal;
    background-color: lighten($color-header, 5%);
    width: 60px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s background-color linear;

    &:hover {
        background-color: lighten($color-header, 10%);
    }

    &:active {
        background-color: lighten($color-header, 30%);
    }

    img {
        width: 14px;
        height: 21px;
    }
}

.section-right {
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    ul {
        width: 245px;
        height: 100%;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 17px;

        li {
            display: block;
            @include set-font($font-primary, normal, 14px, $font-color-primary, 27px, 400);

            a {
                cursor: pointer;

                &:hover {
                    color: darken($font-color-primary, 30%);
                }

                &:active {
                    color: darken($font-color-primary, 50%);
                }
            }
        }
    }
}