// main colors
$color-background: darken(#FFFFFF, 10%);
$color-header: #252525;
$color-secondary: #4D4382;

// font colors
$font-color-primary: #FFFFFF;
$font-color-secondary: #363F48;
$font-color-third: #666666;
$font-color-four: #ACB3BA;

// article colors
$color-bg-article: #FFFFFF;
$color-news: #3677B5;
$color-business: #EE6151;
$color-sport: #84C14F;
$color-life: #5DCFF3;
$color-tech: #FCC44D;
$color-travel: #A99765;
$color-list-active: #299EC3;

//banner colors
$color-banner-border: #D7D7D7;
$color-banner-bg: #FFFFFF;
$font-color-banner: #999999;

//sidebar
$color-bg-sidebar: #4D4382;
$color-bg-sidebar-header: rgba(0, 0, 0, 0.2);

//social
$color-bg-social: darken(#FFFFFF, 15%);