$color-background: #FFFFFF;
$color-header: #252525;
$color-secondary: #4D4382;

$font-color-primary: #FFFFFF;

$color-news: #3677B5;
$color-business: #EE6151;
$color-sport: #84C14F;
$color-life: #5DCFF3;
$color-tech: #FCC44D;
$color-travel: #A99765;
$color-list-active: #299EC3;