@import '../../../../scss/base/colors';
@import '../../../../scss/base/typography';
@import '../../../../scss/util/mixins';

.author-container {
    width: 100%;
    margin-top: 15px;
    background-color: $font-color-primary;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .author-heading {
        width: 570px;
        margin-top: 20px;

        h3 {
            @include set-font($font-secondary, normal, 24px, $font-color-secondary, 29px, 700);
        }
    }

    .author-content-container {
        width: 570px;
        display: flex;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 30px;

        .author-img {
            width: 110px;
            height: 110px;

            img {
                display: block;
            }
        }

        .author-text {
            width: 435px;
            margin-left: 20px;

            p {
                @include set-font($font-primary, normal, 13px, $category-page-text-color, 20px, 400);
            }
        }
    }
}