@import '../../../scss/base/colors';
@import '../../../scss/base/typography';
@import '../../../scss/util/mixins';

.footer-background {
    background-color: $color-bg-footer;
    border-top: 20px solid $color-bg-sidebar;
    margin-top: 20px;

    .footer-container {
        @include set-layout(940px, 655px);
        margin-top: 50px;
        display: flex;
        justify-content: space-between;

        .footer-section {
            width: 300px;
            height: 600px;
        }
    }

    .footer-bottom {
        height: 150px;
        border-top: 1px solid $color-bg-email-input;

        .footer-bottom-container {
            width: 940px;
            margin: 0 auto;
            margin-top: 20px;
            display: flex;
            justify-content: space-between;

            p {
                @include set-font($font-primary, normal, 12px, $font-color-input, 14px, 400);
            }
        }
    }
}
