@import '../../scss/util/mixins';

.main-content {
    @include set-layout(940px, 670px);
    margin-top: 19px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}