@import '../../scss/base/colors';

.banner {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: $color-banner-bg;
    border: 1px solid $color-banner-border;
    margin-top: 16px;

    p {
        flex-basis: 100%;
        text-align: center;
        color: $font-color-banner;
    }
}