@import '../scss/base/colors';
@import '../scss/base/typography';

header {
    background-color: $color-header;
}

.header-container {
    width: 940px;
    margin: 0 auto;
    height: 53px;
    display: flex;
    justify-content: space-between;
}

.section-left {
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .title-div {
        margin-left: 9px;

        p {
            font-family: $font-header;
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 27px;
            color: $font-color-primary;
        }
        
    }
}

.img-container {
    mix-blend-mode: normal;
    background-color: lighten($color-header, 5%);
    width: 60px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 14px;
        height: 21px;
    }
}

.section-right {
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    ul {
        width: 245px;
        height: 100%;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 17px;

        li {
            display: block;
            font-family: $font-nav;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 27px;
            color: $font-color-primary;
        }
    }
}