@import '../../scss/base/colors';
@import '../../scss/base/typography';
@import '../../scss/util/mixins';

.sidebar {
    width: 300px;
    height: 670px;
    margin-left: 17px;
    flex: 1;
    background-color: $color-bg-sidebar;
}