@import '../../scss/base/colors';
@import '../../scss/base/typography';
@import '../../scss/util/mixins';

.slider {
    width: 940px;
    height: 425px;
    margin: 0 auto;
    margin-top: 18px;

    div {
        height: 100%;
    }

    .slide {
        background: linear-gradient(0deg, black, 50%, transparent);
        z-index: 1;
        position: relative;
        
        .img-div {
            background: linear-gradient(0deg, black, 50%, transparent);
            z-index: 1;
            img {
                position: relative;
                z-index: -1;
            }
        }
        
        .date-div {
            width: 260px;
            height: 14px;
            position: absolute;
            bottom: 155px;
            left: 30px;
            display: flex;
            justify-content: space-between;

            p {
                @include set-font($font-primary, normal, 12px, $font-color-primary, 14px, 400);
            }
        }

        .title-div {
            width: 558px;
            height: 92px;
            position: absolute;
            bottom: 60px;
            left: 30px;
                
            h3 {
                @include set-font($font-primary, normal, 34px, $font-color-primary, 41px, 700);
            }
        }
        
        button {
            width: 123px;
            height: 33px;
            position: absolute;
            bottom: 28px;
            left: 30px;
            @include set-font($font-primary, normal, 14px, $font-color-primary, 17px, 400);
            background: transparent;
            border: 1px solid #FFFFFF;
            cursor: pointer;
        }
    }
}

// took this from react-slick and made tweaks to make it custom

.slick-slider {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
}

.slick-prev,
.slick-next
{
    font-size: 0;
    position: absolute;
    top: 50%;

    display: block;

    width: 36px;
    height: 53px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    border: none;
}

.slick-prev
{
    left: 25px;
    background: url('../../assets/arrow-left.svg');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 10;
}

.slick-next
{
    right: 25px;
    background: url('../../assets/arrow-right.svg');
    background-size: cover;
    background-repeat: no-repeat;
}


